body {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* ---------------
------header------
---------------- */

header {
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#text {
    color: white;
    width: 40%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;

}

#pic {
    width: 40%;
    margin-left: 100px;
    margin-top: 29px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(7, 70, 40), rgb(20, 169, 50));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 3px 3px 7px rgb(174, 174, 174);
}

/* ------------------------------------------
------------------main saction---------------
------------------------------------------- */

main {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

nav {
    background-color: black;
    width: 312px;
    height: 312px;
    padding: 30px;
    border: solid black 10px;
    border-radius: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}