body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------
------header------
---------------- */

header {

    height: 646px;
    background-color: #161616;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#text {
    color: white;
    width: 40%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;

}

#pic {
    width: 40%;
    margin-left: 100px;
    margin-top: 29px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(7, 70, 40), rgb(20, 169, 50));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 3px 3px 7px rgb(174, 174, 174);
}

/* ------------------------------------------
------------------main saction---------------
------------------------------------------- */

main {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

nav {
    background-color: black;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: solid black 10px;
    border-radius: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 10px;
    line-height: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 3px 3px 7px rgb(174, 174, 174);
}

.blog {
    width: calc(100%-360px);
    margin-left: 25px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7px;
}

.player div {
    padding: 10px;
}

.player a {
    text-decoration: none;
    color: #161616;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}

nav li #currentpage {

    background-color: green;
    color: white;
}

/*---------------------------------------
---------------- footer------------------
-------------------------------------- */

footer {
    height: 300px;
    background-color: #161616;
}

footer h5 {
    padding-top: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}