body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------
------header------
---------------- */

header {
    position: relative;
    height: 646px;
    background-color: #161616;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    transition: background-image 10s ease-in;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#text {
    color: white;
    width: 40%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;

}

#pic {
    width: 40%;
    margin-left: 100px;
    margin-top: 29px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(7, 70, 40), rgb(20, 169, 50));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 3px 3px 7px rgb(174, 174, 174);
}

#viewall {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

/* -----------------------------
-------------animation ---------
------------------------------*/

header:hover {
    width: 100%;
    margin-top: 50px;
    background-image: url(/images/worldcup.jpg);
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}


/* ------------------------------------------
------------------main saction---------------
------------------------------------------- */

main {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: black;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: solid black 10px;
    border-radius: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 10px;
    line-height: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px 40px;
    box-shadow: 3px 3px 7px rgb(174, 174, 174);
}

.area {
    width: calc(100%-360px);
    margin-left: 25px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}



.blog div {
    padding: 5px;
}

#grid .transfer {
    background-color: rgb(18, 145, 81);
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment p {
    opacity: 50%;
}

.blog a {
    text-decoration: none;
    color: #161616;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}

nav li #currentpage {

    background-color: green;
    color: white;
}

/*---------------------------------------
---------------- footer------------------
-------------------------------------- */

footer {
    width: 100%;
    height: 300px;
    background-color: #161616;
}

footer h5 {
    padding-top: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
}

hr {
    width: 80%;
    opacity: 15%;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

#icon {
    padding: 25px;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

#icon i {
    color: white;
}

/* ------------------------------------
-------------media quoeries------------
-------------small device--------------
------------------------------------- */

@media screen and (max-width: 688px) {

    body {
        width: 600PX;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 600px;
        height: 1300px;
        display: flex;
        flex-direction: column;
    }

    #text {
        width: 600px;
        padding-left: 10px;
    }

    #pic {
        width: 600px;
        margin: 0;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        height: 400px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

/* -----------------------------------------------
--------media quoeries medium device -------------
-------------------------------------------------*/
@media screen and (min-width: 689px) and (max-width: 992px) {

    body {
        width: 900PX;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 900px;
        height: 1300px;
        display: flex;
        flex-direction: column;
    }

    #text {
        width: 900px;
        padding-left: 10px;
        text-align: center;
    }

    #pic {
        width: 900px;
        margin: 0;
        padding-left: 150px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav {
        width: 600px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    #viewall {
        width: 100px;
        display: block;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}